STRAPI_PUBLIC_URL=http://localhost:1337
STRAPI_IS_PROXIED=false
STRAPI_CORS_ORIGINS=http://localhost:3000
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_SITE_INDEXABLE=false
NUXT_STRAPI_URL=http://strapi:1337
NUXT_PUBLIC_STRAPI_URL=http://localhost:1337
NUXT_STRAPI_API_TOKEN=

NUXT_PUBLIC_SMART_CAPTCHA_SITE_KEY=
NUXT_SMART_CAPTCHA_SERVER_KEY=

NUXT_TELEGRAM_BOT_TOKEN=
NUXT_TELEGRAM_CHAT_ID=

NUXT_LEAD_RATE_LIMIT_MAX=5
NUXT_LEAD_RATE_LIMIT_WINDOW_MS=600000

STRAPI_APP_KEYS=change-me-1,change-me-2,change-me-3,change-me-4
STRAPI_API_TOKEN_SALT=change-me-api-token-salt
STRAPI_ADMIN_JWT_SECRET=change-me-admin-jwt-secret
STRAPI_TRANSFER_TOKEN_SALT=change-me-transfer-token-salt
STRAPI_JWT_SECRET=change-me-jwt-secret
STRAPI_ENCRYPTION_KEY=change-me-encryption-key-32-chars
