STRAPI_PUBLIC_URL=http://localhost:1337
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_STRAPI_URL=http://strapi:1337

STRAPI_APP_KEYS=change-me-1,change-me-2,change-me-3,change-me-4
STRAPI_API_TOKEN_SALT=change-me-api-token-salt
STRAPI_ADMIN_JWT_SECRET=change-me-admin-jwt-secret
STRAPI_TRANSFER_TOKEN_SALT=change-me-transfer-token-salt
STRAPI_JWT_SECRET=change-me-jwt-secret
STRAPI_ENCRYPTION_KEY=change-me-encryption-key-32-chars
